.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formTitle {
  font: var(--font-heading);
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: flex-end;
}

.textField {
  width: 50%;
  max-width: 16rem;
}

.textField.stretch {
  width: 50%;
  max-width: none;
  flex-grow: 1;
}

.titleField {
  flex: 1;
}

.titleField .textField {
  width: 100%;
  max-width: none;
}

.descriptionField {
  flex: 3;
}

.descriptionField .textField {
  width: 100%;
  max-width: none;
}

.assigneeField {
  flex: 1;
}

.assigneeField .textField {
  width: 100%;
  max-width: none;
}

.saveField {
  flex: 3;
  display: flex;
  justify-content: flex-start;
}
