.title {
  font: var(--font-heading);
}

.taskItems {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.taskContainer {
  margin-top: 3rem;
}

.errorModalText {
  color: blue; /* override default white text */
}
