.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formTitle {
  font: var(--font-heading);
}

.formRow {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.textField.stretch {
  width: 50%;
  max-width: none;
  flex-grow: 1;
}

.titleField .textField {
  width: 100%;
}

.descriptionField {
  flex: 3;
}

.descriptionField .textField {
  width: 100%;
}

.errorModalText {
  color: var(--color-tse-navy-blue);
}
