.item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 0.5rem;
  border-bottom: 1px solid var(--color-text-secondary);
  margin-top: 1rem;
}

.textContainer {
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.textContainer span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font: var(--font-label);
}

.checked {
  color: var(--color-text-secondary);
}

.link {
  color: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.item:hover {
  background-color: var(--color-surface);
}
