.profilePic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.userTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 140px;
  max-width: 140px;
  flex-shrink: 0;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  font: var(--font-body);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notAssigned {
  font: var(--font-body);
}
